.rotate {
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.loader {
  padding: 30px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;

  &__error {
    background-color: #fff;
    border-radius: 16px;
  }

  &__loading {
    font-size: 72px;
    font-weight: bold;
    color: lightskyblue;
    text-align: center;
    -webkit-animation: rotate 5s normal linear infinite;
    animation: rotate 5s normal linear infinite;
  }
}