@import '../../styles/_variables.scss';

.figure {
  background-color: #fff;
  border-radius: 16px;
  margin: 0 16px 16px;
  width: 33.3333%;
  max-width: 300px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.6 );
  transition: all 0.3s ease-in-out;

  &:hover, &__selected {
    box-shadow: 0 0 10px 12px orange;
  }

  &__name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    max-width: 60%;
    display: block;
  }

  &__btn {
    font-size: 18px;
    color: $gold;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}