@import '../../styles/_variables.scss';
@import '../../styles/_ui.scss';

.figure-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__name, &__parts {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 50px;
  }

  &__parts {
    text-align: left;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__img {
    max-width: 60%;
    display: block;
  }

  &__more-link {
    @include btn;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
}

.parts-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 32px 0;
}

.part {
  display: flex;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  align-items: flex-start;

  &__img {
    width: 60px;
    margin-right: 16px;
  }

  &__wrapper {
    width: calc(100% - 76px);
  }

  &__name{
    color: $darkBlue;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__id {
    color: $gold;
  }
}
