@import '../../styles/_variables';
@import '../../styles/_ui';

.form-screen {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1600px;

  &__form-wrapper {
    flex: 0 0 calc(70% - 32px);
    height: 100%;
    margin-right: 32px;
    align-items: center;
    display: flex;
  }

  &__summary {
    display: flex;
    background-color: #fff;
    flex: 0 0 30%;
    max-width: 450px;
    padding: 40px;
    border-radius: 24px;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  &__summary-header {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__btn {
    @include btn;
    margin: 0 auto;
    display: block;
  }
}