@import './variables';

@mixin btn {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  background-color: $blue;
  padding: 15px 32px;
  border-radius: 32px;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.4 );
  margin-bottom: 32px;
  text-transform: uppercase;
  min-width: 200px;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 15px 16px rgba(0, 0, 0, 0.2 );
  }

  &:disabled {
    opacity: 0.4;
  }
}