.app {
  padding: 32px;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-1, &__img-2 {
    position: absolute;
    color: lightblue;
    opacity: 0.06;
  }

  &__img-1 {
    transform: rotate(-35deg);
    top: 15%;
    left: 15%;
    width: 320px;
    height: 320px;
  }

  &__img-2 {
    bottom: -100px;
    right: -180px;
    transform: rotate(35deg);
    width: 620px;
    height: 620px;
  }
}
