.modal {
  width: 30rem;
  max-width: 80%;
  padding: 32px;
  border: 0;
  border-radius: 16px;
  position: relative;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}

.modal__close-btn {
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  top: 16px;
  right: 16px;

  svg {
    width: 32px;
    height: 32px;
  }
}