@import '../../styles/_variables.scss';
@import '../../styles/_ui.scss';

.minifig-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
  }

  &__figures {
    display: flex;
    margin-bottom: 90px;
  }

  &__btn {
    @include btn;
  }
}
