@import '../../styles/_ui';

.starting-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

}