@import '../../styles/_variables';

.submit-form {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;

  &__header {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
  }


  form {
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    flex-wrap: wrap;
  }
}


.text-input-wrapper {
  padding: 0 16px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 32px;

  &--half {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.text-input-label {
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.text-input-error {
  color: red;
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
}

.text-input {
  border-radius: 4px;
  padding: 16px;
  border: none;
  outline: none;
  font-weight: bold;
  color: $darkBlue;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
  }
}